{% if pageCount > 1 -%}
    <ul class="pagination{{ small ? ' pagination-sm':'' }}">

        {% if previous is defined -%}
            <li>
                <a href="#" data-import-event="pagination" data-import-page="{{ previous }}"><</a>
            </li>
        {% else -%}
            <li class="disabled"><</li>
        {% endif -%}

        {% if startPage > 1 -%}
            <li>
                <a href="#" data-import-event="pagination" data-import-page="1">1</a>
            </li>
            {% if startPage == 3 -%}
                <li>
                    <a href="#" data-import-event="pagination" data-import-page="2">2</a>
                </li>
            {% elseif startPage != 2 -%}
                <li class="disabled">&hellip;</li>
            {% endif -%}
        {% endif -%}

        {% for page in pagesInRange -%}
            {% if page != current -%}
                <li>
                    <a href="#" data-import-event="pagination" data-import-page="{{ page }}">{{ page }}</a>
                </li>
            {% else -%}
                <li class="active">{{ page }}</li>
            {% endif -%}

        {% endfor -%}

        {% if pageCount > endPage -%}
            {% if pageCount > (endPage + 1) -%}
                {% if pageCount > (endPage + 2) -%}
                    <li class="disabled">&hellip;</li>
                {% else -%}
                    <li>
                        <a href="#" data-import-event="pagination" data-import-page="{{ pageCount - 1 }}">{{ pageCount -1 }}</a>
                    </li>
                {% endif -%}
            {% endif -%}
            <li>
                <a href="#" data-import-event="pagination" data-import-page="{{ pageCount }}">{{ pageCount }}</a>
            </li>
        {% endif -%}

        {% if next is defined -%}
            <li>
                <a href="#" data-import-event="pagination" data-import-page="{{ next }}">></a>
            </li>
        {% else -%}
            <li class="disabled">
                >
            </li>
        {% endif -%}
    </ul>
{% endif -%}
