{% set flags = 0 %}

{% set flags = 0 +
    ( facebook ? 64  : 0 ) +
    ( linkedin ? 128 : 0 ) +
    ( twitter  ? 256 : 0 ) +
    ( instagram ? 512 : 0 ) +
    ( pinterest  ? 1024 : 0 ) %}

{% if flags b-and 1984 %}
    <div class="{{ view }}-social">
        {% if flags b-and 64 -%}
            <a href="{{ facebook }}" target="_blank" rel="noopener noreferrer" class="social-{{ view == 'footer' ? 'link' : 'item' }}">
                <i class="fa fa-facebook"></i>
            </a>
        {%- endif %}
        {% if flags b-and 128 -%}
            <a href="{{ linkedin }}" target="_blank" rel="noopener noreferrer" class="social-{{ view == 'footer' ? 'link' : 'item' }}">
                <i class="fa fa-linkedin"></i>
            </a>
        {%- endif %}
        {% if flags b-and 256 -%}
            <a href="{{ twitter }}" target="_blank" rel="noopener noreferrer" class="social-{{ view == 'footer' ? 'link' : 'item' }}">
                <i class="fa fa-twitter"></i>
            </a>
        {%- endif %}
        {% if flags b-and 512 -%}
            <a href="{{ instagram }}" target="_blank" rel="noopener noreferrer" class="social-{{ view == 'footer' ? 'link' : 'item' }}">
                <i class="fa fa-instagram"></i>
            </a>
        {%- endif %}
        {% if flags b-and 1024 -%}
            <a href="{{ pinterest }}" target="_blank" rel="noopener noreferrer" class="social-{{ view == 'footer' ? 'link' : 'item' }}">
                <i class="fa fa-pinterest"></i>
            </a>
        {%- endif %}
    </div>
{% endif %}
