<!DOCTYPE html>
<html class="no-js" lang="{{ getISOLang(getDomainParameter('locale')) }}">
    <head>
    {% block head -%}
        <meta charset="{{ getParameter('charset') }}">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700|Rubik" rel="stylesheet">

        {% block stylesheets %}
            <link href="{{ fileCache(asset('assets/default/styles/style.min.css')) }}" rel="stylesheet"/>
        {% endblock -%}
    {% endblock -%}
    </head>
    <body>
        {{ widgetContent|raw }}
        <br>
        {{ 'Template => ' ~ templateName }}

        {# Scripts -#}
        {% block scripts -%}

            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

            <script src="{{ asset('assets/default/scripts/main.min.js') }}"></script>

            <script>

                {# uncomment it if you wanna debug in jsrender
                $.views.tags({
                    debug: function(obj) {
                        console.log(obj);
                    }
                });-#}

                {# changes JsRender delimiters -#}
                $.views.settings.delimiters('<%', '%>');
            </script>

            {{ smartBannerAndroid() }}

            {{ renderJS() }}

        {% endblock -%}
    </body>
</html>
