<div class="page-wrapper">
    <header id="header" class="header">
        <div class="container">
            <div class="branding">
                <h1 class="logo">
                    <a href="/docs">
                        <span aria-hidden="true" class="icon_documents_alt icon"></span>
                        <span class="text-highlight">ArCraft</span><span class="text-bold">Docs</span>
                    </a>
                </h1>
            </div>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/docs">Home</a></li>
                <li class="breadcrumb-item active">Components</li>
            </ol>
        </div>
    </header>
    <section class="cards-section text-center">
        <div class="container">
            <div id="doc-header" class="doc-header text-center">
                <h1 class="doc-title"><span aria-hidden="true" class="icon icon_puzzle_alt"></span> Components</h1>
                <div class="meta"><i class="far fa-clock"></i> Last updated: <?php echo $updated; ?></div>
            </div>
            <div id="cards-wrapper" class="row">
                <div class="item col-3">
                    <div class="item-inner">
                        <div class="icon-holder"><span aria-hidden="true" class="icon fa fa-paper-plane"></span></div>
                        <h3 class="title">Latest Members</h3>
                        <a class="link" target="_blank" href="{{ path('arcraft_widgets', {'type': '1', 'widgetName': 'latest-members'}) }}"><span>Type 1</span></a>
                    </div>
                </div>
                <div class="item col-3">
                    <div class="item-inner">
                        <div class="icon-holder"><span aria-hidden="true" class="icon fa fa-paper-plane"></span></div>
                        <h3 class="title">Categories</h3>
                        <a class="link" target="_blank" href="{{ path('arcraft_widgets', {'type': '1', 'widgetName': 'categories'}) }}"><span>Type 1</span></a>
                        <a class="link" target="_blank" href="{{ path('arcraft_widgets', {'type': '2', 'widgetName': 'categories'}) }}"><span>Type 2</span></a>
                        <a class="link" target="_blank" href="{{ path('arcraft_widgets', {'type': '3', 'widgetName': 'categories'}) }}"><span>Type 3</span></a>
                        <a class="link" target="_blank" href="{{ path('arcraft_widgets', {'type': '4', 'widgetName': 'categories'}) }}"><span>Type 4</span></a>
                        <a class="link" target="_blank" href="{{ path('arcraft_widgets', {'type': '5', 'widgetName': 'categories'}) }}"><span>Type 5</span></a>
                        <a class="link" target="_blank" href="{{ path('arcraft_widgets', {'type': '6', 'widgetName': 'categories'}) }}"><span>Type 6</span></a>
                    </div>
                </div>
                <div class="item col-3">
                    <div class="item-inner">
                        <div class="icon-holder"><span aria-hidden="true" class="icon fa fa-paper-plane"></span></div>
                        <h3 class="title">Recent Reviews</h3>
                        <a class="link" target="_blank" href="{{ path('arcraft_widgets', {'type': '1', 'widgetName': 'recent-reviews'}) }}"><span>Type 1</span></a>
                    </div>
                </div>
                <div class="item col-3">
                    <div class="item-inner">
                        <div class="icon-holder"><span aria-hidden="true" class="icon fa fa-paper-plane"></span></div>
                        <h3 class="title">Video Gallery</h3>
                        <a class="link" target="_blank" href="{{ path('arcraft_widgets', {'type': '1', 'widgetName': 'video-gallery'}) }}"><span>Type 1</span></a>
                    </div>
                </div>
                <div class="item col-3">
                    <div class="item-inner">
                        <div class="icon-holder"><span aria-hidden="true" class="icon fa fa-paper-plane"></span></div>
                        <h3 class="title">Details</h3>
                        <a class="link" target="_blank" href="{{ path('arcraft_widgets', {'type': '1', 'widgetName': 'details'}) }}"><span>Type 1</span></a>
                        <a class="link" target="_blank" href="{{ path('arcraft_widgets', {'type': '2', 'widgetName': 'details'}) }}"><span>Type 2</span></a>
                        <a class="link" target="_blank" href="{{ path('arcraft_widgets', {'type': '3', 'widgetName': 'details'}) }}"><span>Type 3</span></a>
                        <a class="link" target="_blank" href="{{ path('arcraft_widgets', {'type': '4', 'widgetName': 'details'}) }}"><span>Type 4</span></a>
                        <a class="link" target="_blank" href="{{ path('arcraft_widgets', {'type': '5', 'widgetName': 'details'}) }}"><span>Type 5</span></a>
                        <a class="link" target="_blank" href="{{ path('arcraft_widgets', {'type': '6', 'widgetName': 'details'}) }}"><span>Type 6</span></a>
                    </div>
                </div>
                <div class="item col-3">
                    <div class="item-inner">
                        <div class="icon-holder"><span aria-hidden="true" class="icon fa fa-paper-plane"></span></div>
                        <h3 class="title">Header</h3>
                        <a class="link" target="_blank" href="{{ path('arcraft_widgets', {'type': '1', 'widgetName': 'header'}) }}"><span>Type 1</span></a>
                        <a class="link" target="_blank" href="{{ path('arcraft_widgets', {'type': '2', 'widgetName': 'header'}) }}"><span>Type 2</span></a>
                        <a class="link" target="_blank" href="{{ path('arcraft_widgets', {'type': '3', 'widgetName': 'header'}) }}"><span>Type 3</span></a>
                        <a class="link" target="_blank" href="{{ path('arcraft_widgets', {'type': '4', 'widgetName': 'header'}) }}"><span>Type 4</span></a>
                    </div>
                </div>
                <div class="item col-3">
                    <div class="item-inner">
                        <div class="icon-holder"><span aria-hidden="true" class="icon fa fa-paper-plane"></span></div>
                        <h3 class="title">Footer</h3>
                        <a class="link" target="_blank" href="{{ path('arcraft_widgets', {'type': '1', 'widgetName': 'footer'}) }}"><span>Type 1</span></a>
                        <a class="link" target="_blank" href="{{ path('arcraft_widgets', {'type': '2', 'widgetName': 'footer'}) }}"><span>Type 2</span></a>
                        <a class="link" target="_blank" href="{{ path('arcraft_widgets', {'type': '3', 'widgetName': 'footer'}) }}"><span>Type 3</span></a>
                        <a class="link" target="_blank" href="{{ path('arcraft_widgets', {'type': '4', 'widgetName': 'footer'}) }}"><span>Type 4</span></a>
                    </div>
                </div>
                <div class="item col-3">
                    <div class="item-inner">
                        <div class="icon-holder"><span aria-hidden="true" class="icon fa fa-paper-plane"></span></div>
                        <h3 class="title">Search Boxes</h3>
                        <a class="link" target="_blank" href="{{ path('arcraft_widgets', {'type': '1', 'widgetName': 'search-boxes'}) }}"><span>Type 1</span></a>
                    </div>
                </div>
                <div class="item col-3">
                    <div class="item-inner">
                        <div class="icon-holder"><span aria-hidden="true" class="icon fa fa-paper-plane"></span></div>
                        <h3 class="title">Search Bars</h3>
                        <a class="link" target="_blank" href="{{ path('arcraft_widgets', {'type': '1', 'widgetName': 'search-bars'}) }}"><span>Type 1</span></a>
                    </div>
                </div>
                <div class="item col-3">
                    <div class="item-inner">
                        <div class="icon-holder"><span aria-hidden="true" class="icon fa fa-paper-plane"></span></div>
                        <h3 class="title">Faq</h3>
                        <a class="link" target="_blank" href="{{ path('arcraft_widgets', {'type': '1', 'widgetName': 'faq'}) }}"><span>Type 1</span></a>
                    </div>
                </div>
                <div class="item col-3">
                    <div class="item-inner">
                        <div class="icon-holder"><span aria-hidden="true" class="icon fa fa-paper-plane"></span></div>
                        <h3 class="title">Pricing & Plans</h3>
                        <a class="link" target="_blank" href="{{ path('arcraft_widgets', {'type': '1', 'widgetName': 'pricing-plans'}) }}"><span>Type 1</span></a>
                        <a class="link" target="_blank" href="{{ path('arcraft_widgets', {'type': '2', 'widgetName': 'pricing-plans'}) }}"><span>Type 2</span></a>
                        <a class="link" target="_blank" href="{{ path('arcraft_widgets', {'type': '3', 'widgetName': 'pricing-plans'}) }}"><span>Type 3</span></a>
                        <a class="link" target="_blank" href="{{ path('arcraft_widgets', {'type': '4', 'widgetName': 'pricing-plans'}) }}"><span>Type 4</span></a>
                    </div>
                </div>
                <div class="item col-3">
                    <div class="item-inner">
                        <div class="icon-holder"><span aria-hidden="true" class="icon fa fa-paper-plane"></span></div>
                        <h3 class="title">Events</h3>
                        <a class="link" target="_blank" href="{{ path('arcraft_widgets', {'type': '1', 'widgetName': 'events'}) }}"><span>Type 1</span></a>
                        <a class="link" target="_blank" href="{{ path('arcraft_widgets', {'type': '2', 'widgetName': 'events'}) }}"><span>Type 2</span></a>
                        <a class="link" target="_blank" href="{{ path('arcraft_widgets', {'type': '3', 'widgetName': 'events'}) }}"><span>Type 3</span></a>
                    </div>
                </div>
                <div class="item col-3">
                    <div class="item-inner">
                        <div class="icon-holder"><span aria-hidden="true" class="icon fa fa-paper-plane"></span></div>
                        <h3 class="title">Contact Form</h3>
                        <a class="link" target="_blank" href="{{ path('arcraft_widgets', {'type': '1', 'widgetName': 'contact-form'}) }}"><span>Type 1</span></a>
                    </div>
                </div>
                <div class="item col-3">
                    <div class="item-inner">
                        <div class="icon-holder"><span aria-hidden="true" class="icon fa fa-paper-plane"></span></div>
                        <h3 class="title">Newsletter</h3>
                        <a class="link" target="_blank" href="{{ path('arcraft_widgets', {'type': '1', 'widgetName': 'newsletter'}) }}"><span>Type 1</span></a>
                    </div>
                </div>
                <div class="item col-3">
                    <div class="item-inner">
                        <div class="icon-holder"><span aria-hidden="true" class="icon fa fa-paper-plane"></span></div>
                        <h3 class="title">Ads</h3>
                        <a class="link" target="_blank" href="{{ path('arcraft_widgets', {'type': '1', 'widgetName': 'ads'}) }}"><span>Type 1</span></a>
                        <a class="link" target="_blank" href="{{ path('arcraft_widgets', {'type': '2', 'widgetName': 'ads'}) }}"><span>Type 2</span></a>
                        <a class="link" target="_blank" href="{{ path('arcraft_widgets', {'type': '3', 'widgetName': 'ads'}) }}"><span>Type 3</span></a>
                        <a class="link" target="_blank" href="{{ path('arcraft_widgets', {'type': '4', 'widgetName': 'ads'}) }}"><span>Type 4</span></a>
                        <a class="link" target="_blank" href="{{ path('arcraft_widgets', {'type': '5', 'widgetName': 'ads'}) }}"><span>Type 5</span></a>
                    </div>
                </div>
                <div class="item col-3">
                    <div class="item-inner">
                        <div class="icon-holder"><span aria-hidden="true" class="icon fa fa-paper-plane"></span></div>
                        <h3 class="title">Download Our Apps</h3>
                        <a class="link" target="_blank" href="{{ path('arcraft_widgets', {'type': '1', 'widgetName': 'download-our-apps'}) }}"><span>Type 1</span></a>
                    </div>
                </div>
                <div class="item col-3">
                    <div class="item-inner">
                        <div class="icon-holder"><span aria-hidden="true" class="icon fa fa-paper-plane"></span></div>
                        <h3 class="title">Lead Form</h3>
                        <a class="link" target="_blank" href="{{ path('arcraft_widgets', {'type': '1', 'widgetName': 'lead-form'}) }}"><span>Type 1</span></a>
                    </div>
                </div>
                <div class="item col-3">
                    <div class="item-inner">
                        <div class="icon-holder"><span aria-hidden="true" class="icon fa fa-paper-plane"></span></div>
                        <h3 class="title">Social network bar</h3>
                        <a class="link" target="_blank" href="{{ path('arcraft_widgets', {'type': '1', 'widgetName': 'social-network-bar'}) }}"><span>Type 1</span></a>
                    </div>
                </div>
                <div class="item col-3">
                    <div class="item-inner">
                        <div class="icon-holder"><span aria-hidden="true" class="icon fa fa-paper-plane"></span></div>
                        <h3 class="title">Contact information bar</h3>
                        <a class="link" target="_blank" href="{{ path('arcraft_widgets', {'type': '1', 'widgetName': 'contact-information-bar'}) }}"><span>Type 1</span></a>
                    </div>
                </div>
                <div class="item col-3">
                    <div class="item-inner">
                        <div class="icon-holder"><span aria-hidden="true" class="icon fa fa-paper-plane"></span></div>
                        <h3 class="title">Call to Action</h3>
                        <a class="link" target="_blank" href="{{ path('arcraft_widgets', {'type': '1', 'widgetName': 'call-to-action'}) }}"><span>Type 1</span></a>
                    </div>
                </div>
                <div class="item col-3">
                    <div class="item-inner">
                        <div class="icon-holder"><span aria-hidden="true" class="icon fa fa-paper-plane"></span></div>
                        <h3 class="title">Slider</h3>
                        <a class="link" target="_blank" href="{{ path('arcraft_widgets', {'type': '1', 'widgetName': 'slider'}) }}"><span>Type 1</span></a>
                    </div>
                </div>
                <div class="item col-3">
                    <div class="item-inner">
                        <div class="icon-holder"><span aria-hidden="true" class="icon fa fa-paper-plane"></span></div>
                        <h3 class="title">Locations</h3>
                        <a class="link" target="_blank" href="{{ path('arcraft_widgets', {'type': '1', 'widgetName': 'locations'}) }}"><span>Type 1</span></a>
                        <a class="link" target="_blank" href="{{ path('arcraft_widgets', {'type': '2', 'widgetName': 'locations'}) }}"><span>Type 2</span></a>
                    </div>
                </div>
                <div class="item col-3">
                    <div class="item-inner">
                        <div class="icon-holder"><span aria-hidden="true" class="icon fa fa-paper-plane"></span></div>
                        <h3 class="title">Random</h3>
                        <a class="link" target="_blank" href="{{ path('arcraft_widgets', {'type': '1', 'widgetName': 'random'}) }}"><span>Type 1</span></a>
                        <a class="link" target="_blank" href="{{ path('arcraft_widgets', {'type': '2', 'widgetName': 'random'}) }}"><span>Type 2</span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>