{% if items|length > 0 %}
    {% import "::blocks/utility/cards.html.twig" as UtilityCards -%}
    
    <div class="cards-default" card-type="{{ cardType }}" card-module="{{ module }}" data-type="articles" data-bg="{{ content.backgroundColor }}" has-gap>
        <div class="container">
            <div class="cards-header">
                <h4 class="heading h-4">{{ content.widgetTitle|trans({}, 'widgets') }}</h4>
                {% if widgetLink is not empty %}
                    <a href="{{ widgetLink }}" class="link" data-trans="{{ 'more listings'|trans({},'widgets') }}">
                        {{ content.widgetLink.label|trans({}, 'widgets') }}
                    </a>
                {% endif %}
            </div>
            <div class="cards-list cards-list-half">
                {% for item in items -%}
                    {% set itemData = getCardData(item, 'listing') %}

                    {% if loop.index == 1 %}
                        <div class="card" data-columns="2">
                            <div class="picture">
                                <a href="{{ itemData.detailLink }}" class="picture-link">
                                    {% if item.thumbnail is defined and item.thumbnail is not empty -%}
                                        {{ tagPicture(asset(item.thumbnail, 'domain_images'), item.title) }}
                                    {% else -%}
                                        {{ utility_getNoImage(title) }}
                                    {% endif -%}
                                </a>
                                {% if hasDeal(item.id, item.level) -%}
                                    <a href="{{ itemData.detailLink }}#deal" class="badge">{{ 'Offers deals'|trans }}</a>
                                {% endif %}
                            </div>
                            <div class="content">
                                <a href="{{ itemData.detailLink }}" class="title heading">{{ item.title }}</a>

                                {% if item.categories -%}
                                    {{UtilityCards.categories(item.categories, content.module)}}
                                {% endif %}

                                {# description -#}
                                {% set description = item.longDescription -%}

                                {% if item.description is not empty -%}
                                    {% set description = item.description -%}
                                {% endif -%}

                                {% if description is not empty -%}
                                    <div class="description">
                                        <p class="paragraph">{{ description|length > 180 ? description|slice(0,179) ~ '...' : description }}</p>
                                    </div>
                                {% endif %}

                                {% if item.averageReview is defined and getSetting("review_listing_enabled") %}
                                    <div class="reviews">
                                        <div class="reviews-stars">
                                            {% for i in 0..4 %}
                                                <i class="fa fa-star{{ i < item.averageReview ? '' : '-o' }}"></i>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% else %}
                        <div class="card" data-columns="4">
                            <div class="picture">
                                <a href="{{ itemData.detailLink }}" class="picture-link">
                                    {% if item.thumbnail is defined and item.thumbnail is not empty -%}
                                        {{ tagPicture(asset(item.thumbnail, 'domain_images'), item.title) }}
                                    {% else -%}
                                        {{ utility_getNoImage(title) }}
                                    {% endif -%}
                                </a>
                                {% if hasDeal(item.id, item.level) -%}
                                    <a href="{{ itemData.detailLink }}#deal" class="badge">{{ 'Offers deals'|trans }}</a>
                                {% endif %}
                            </div>
                            <div class="content">
                                <a href="{{ itemData.detailLink }}" class="title heading">{{ item.title }}</a>

                                {% if item.categories -%}
                                    {{UtilityCards.categories(item.categories, content.module)}}
                                {% endif %}

                                {# description -#}
                                {% set description = item.longDescription -%}

                                {% if item.description is not empty -%}
                                    {% set description = item.description -%}
                                {% endif -%}

                                {% if description is not empty -%}
                                    <div class="description">
                                        <p class="paragraph">{{ description|length > 250 ? description|slice(0,249) ~ '...' : description }}</p>
                                    </div>
                                {% endif %}

                                {% if item.averageReview is defined and getSetting("review_listing_enabled") %}
                                    <div class="reviews">
                                        <div class="reviews-stars">
                                            {% for i in 0..4 %}
                                                <i class="fa fa-star{{ i < item.averageReview ? '' : '-o' }}"></i>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor -%}
            </div>
        </div>
    </div>
{% endif %}
