{% extends "::mailer/layout.html.twig" -%}

{% block title -%} {{ "New Lead"|trans }} {% endblock -%}

{% block paragraph -%}
    {{ "Site manager"|trans ~ "," }}<br/><br/>
    {{ "You received a new lead through the %widget% widget."|trans({'%widget%': widgetName}) }}<br/>
{% endblock -%}

{% block secondparagraph -%}
    {{ message|nl2br }}<br/>

    {% if fields -%}
        {% for field, value in fields -%}
            {% if value is iterable -%}
                {{ field }}: <br/>
                {% for option, _value in value -%}
                    {{ option }}: {{ _value|nl2br }}
                {% endfor -%}
            {% else -%}
                {{ field }}: {{ value|nl2br }}
            {% endif -%}
        {% endfor -%}
    {% endif -%}

    <br/>{{ "To view the lead, follow the link below."|trans }}<br/>
    {% set lead_url = absolute_url('sitemgr/activity/leads/index.php?item_type=general') %}
    <a href="{{ lead_url }}">{{ lead_url }}</a>
{% endblock -%}
