{% if items|length == 1 %}
    {% import "::blocks/utility/cards.html.twig" as UtilityCards -%}

    {% set item = items|first %}
    {% set itemData = getCardData(item, 'deal') %}

    <div class="cards-default" card-type="{{ cardType }}" card-module="{{ module }}" data-type="articles" data-bg="{{ content.backgroundColor }}" has-gap>
        <div class="container">
            {% if content.widgetTitle is not empty -%}
                <div class="cards-header">
                    <h4 class="heading h-4">{{ content.widgetTitle|trans({}, 'widgets') }}</h4>
                    {% if widgetLink is not empty %}
                        <a href="{{ widgetLink }}" class="link" data-trans="{{ 'more deals'|trans({},'widgets') }}">
                            {{ content.widgetLink.label|trans({}, 'widgets') }}
                        </a>
                    {% endif %}
                </div>
            {% endif -%}
            <div class="cards-list no-margin" data-align="left">
                <div class="card card-horizontal card-horizontal-full">
                    <div class="content">
                        {% if item.categories -%}
                            {{UtilityCards.categories(item.categories, content.module)}}
                        {% endif %}

                        <a href="{{ itemData.detailLink }}" class="title heading">{{ item.title }}</a>

                        {# description -#}
                        {% set description = item.description -%}

                        {% if description is not empty -%}
                            <div class="description">
                                <p class="paragraph">{{ description|length > 180 ? description|slice(0,179) ~ '...' : description }}</p>
                            </div>
                        {% endif %}

                        {#<div class="paragraph p-2 price-off">{{ itemData.realvalue|localized_currency }}</div>#}
                        {#{% if itemData.dealvalue > 0 %}#}
                        {#    <div class="heading h-3 price">{{ itemData.dealvalue|localized_currency }}</div>#}
                        {#{% else %}#}
                        {#    <div class="heading h-3 price">{{ 'Free'|trans }}</div>#}
                        {#{% endif %}#}
                        {# shows until date -#}
                        {# if endDate does not exist the data it from elasticsearch -#}
                        {% if itemData.endDate is defined %}
                            {% set endDate = itemData.endDate %}
                        {% else %}
                            {% set endDate = date(item.date.end) %}
                        {% endif %}

                        {# workaround to fix edirectory behavior #}
                        {% set newEndDate = endDate|date_modify('+1 day') %}
                        {% set interval = newEndDate.diff(date('now')) -%}

                        {% if interval.days <= 30 -%}
                            <div class="paragraph p-2 valid-time">{{ '{0} Less than one day|{1} One day left|]1,Inf] %count% Days left'|transchoice(interval.days) }}</div>
                        {% else %}
                            <div class="paragraph p-2 valid-time">
                                <b>{{ "Valid Until"|trans }} </b>{{ newEndDate|localized_date('MMMM dd, yyyy') }}</div>
                        {% endif %}

                    </div>
                    <a href="{{ itemData.detailLink }}" class="picture">
                        {% if itemData.percentage %}
                            <div class="badge">{{ '%percentage%% OFF'|trans({'%percentage%': itemData.percentage|number_format}) }}</div>
                        {% endif %}
                        {{ tagPicture(itemData.imagePath, item.title, {'desktop': 'medium', 'tablet': 'medium'}) }}
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endif %}
