{% spaceless %}
    {% set classLink = module == 'article' ? 'icon' : '' %}
    {% set prefix = module == 'favorite' ? 'fa-star' : 'fa-bookmark' %}
    {% set classIcon = marked ? '' : '-o' %}
    <a href="javascript:void(0);" rel="nofollow" class="tooltip {{ classLink }}" data-tooltip="{{ 'Add this item to favorites'|trans }}" data-id="{{ id }}" data-module="{{ module }}" data-modal="bookmark">
        <span class="icon icon-md"><i class="fa {{ "#{prefix}#{classIcon}" }}"></i></span>
    </a>
{% endspaceless %}
