<h1 style="text-align: center;">
    <span id="error404" style="color: #efefef; font-size: 300px;">{{ '404' }}</span>
</h1>
<p style="text-align: center;">&nbsp;</p>
<h2 style="text-align: center;"><span style="color: #cdcdcd; font-size: 50px;">{{ 'Oops'|trans({}, 'widgets') }}</span></h2>
<p style="text-align: center;"><span style="color: #999999;">&nbsp;</span></p>
<p style="text-align: center;"><span style="color: #999999; font-size: 24px;">{{ 'We couldn\'t find the page you are looking for.'|trans({}, 'widgets') }}</span></p>
<p style="text-align: center;"><span style="color: #999999;">&nbsp;</span></p>
<p style="text-align: center;"><span style="color: #999999; font-size: 16px;">{{ 'Have you tried the search option to easily find what you are looking for?'|trans({}, 'widgets') }}</span></p>
<p style="text-align: center;"><span style="color: #999999;">{{ '...' }}</span></p>