<div class="form-group selectize">
    <select id="{{ key }}" class="form-control genericInput" data-label="{{ field.label }}" data-type="{{ field.type }}" name="{{ key }}">
        <option value="">
            {{ 'Select an Option'|trans({}, 'widgets', sitemgrLanguage) }}
        </option>

        {% if mainPages is not empty %}
            <optgroup label="{{ 'Main Pages'|trans({}, 'widgets', sitemgrLanguage) }}">
                {% for key, page in mainPages -%}
                    <option value="{{ page.page_id }}" {{ (field.value == page.page_id ? 'selected = "selected"' : '') }}>
                        {{ page.name|capitalize }}
                    </option>
                {% endfor %}
            </optgroup>
        {% endif %}

        {% if customPages is not empty %}
            <optgroup label="{{ 'Custom Pages'|trans({}, 'widgets', sitemgrLanguage) }}">
                {% for key, customPage in customPages -%}
                    <option value="{{ customPage.page_id }}" {{ (field.value == customPage.page_id ? 'selected = "selected"' : '') }}>
                        {{ customPage.name|capitalize }}
                    </option>
                {% endfor %}
            </optgroup>
        {% endif %}

        <optgroup label="{{ 'Custom Link'|trans({}, 'widgets', sitemgrLanguage) }}">
            <option value="custom" {{ (field.value == 'custom' ? 'selected = "selected"' : '') }}>
                {{ 'Custom Link'|trans({}, 'widgets', sitemgrLanguage) }}
            </option>
        </optgroup>
    </select>
</div>
<div class="form-group" id="sectionLinkCustom" {{ (field.value == 'custom' ? 'style="display: block;"' : 'style="display: none;"') }}>
    <label for="customLink" class="control-label">
        {{ 'Custom Link'|trans({}, 'widgets', sitemgrLanguage) }}
    </label>
    <div class="{{ (field.target == 'internal' ? 'input-group' : '') }}">
        <span id="linkUrl" class="input-group-addon {{ (field.target == 'external' ? 'hidden' : '') }}">{{ baseURL }}</span>
        <input id="customLink" type="text" class="form-control genericInput" name="customLink" value="{{ field.customLink }}" placeholder="{{ 'Custom Link'|trans({}, 'widgets', sitemgrLanguage) }}">
    </div>
    <div class="form-horizontal">
        <div class="radio-inline">
            <label>
                <input class="linkTarget genericInput" type="radio" name="target" value="internal" {{ (field.target == 'internal' ? 'checked' : '') }} />
                {{ 'Internal Page'|trans({}, 'widgets', sitemgrLanguage) }}
                <input type="hidden" id="linkInternalValue"/>
            </label>
        </div>
        <div class="radio-inline">
            <label>
                <input class="linkTarget genericInput" type="radio" name="target" value="external" {{ (field.target == 'external' ? 'checked' : '') }} />
                {{ 'External Link'|trans({}, 'widgets', sitemgrLanguage) }}
                <input type="hidden" id="linkExternalValue"/>
            </label>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="checkbox">
        <label for="openWindow" class="control-label">
            <input class="genericInput" id="openWindow" type="checkbox" value="true" name="openWindow" {{ (field.openWindow == 'true' ? 'checked' : '') }} />
            {{ 'Open in a new window'|trans({}, 'widgets', sitemgrLanguage) }}
        </label>
    </div>
</div>
