{% import "::blocks/utility/cards.html.twig" as UtilityCards -%}

<div class="cards-default" card-type="{{ cardType }}" card-module="{{ module }}" data-type="articles" scrollable="false" mobile-columns="false" data-bg="{{ content.backgroundColor }}" has-gap>
    <div class="container">
        <div class="cards-header">
            <h2 class="heading h-4">{{ content.widgetTitle|trans({}, 'widgets') }}</h2>
            {% if widgetLink is not empty %}
                <a href="{{ widgetLink }}" class="link" data-trans="{{ 'more posts'|trans({},'widgets') }}">
                    {{ content.widgetLink.label|trans({}, 'widgets') }}
                </a>
            {% endif %}
        </div>
        <div class="card-wrapper card-two-columns-horizontal">
            {% for item in items -%}
                {% set itemData = getCardData(item, 'blog') %}

                {% if loop.first %}
                <div class="card-wrapper-left">
                    <div class="cards-list">
                        <div class="card card-horizontal">
                            <a href="{{ itemData.detailLink }}" class="picture">
                                <div class="badge">
                                    {{ date(item.publicationDate)|localized_date('MMMM dd, yyyy') }}
                                </div>
                                {{ tagPicture(itemData.imagePath, item.title) }}
                            </a>
                            <div class="content">
                                <a href="{{ itemData.detailLink }}" class="title heading h-4">{{ item.title }}</a>
                                {% if item.categories -%}
                                    {{UtilityCards.categories(item.categories, content.module)}}
                                {% endif %}

                                {% if item.content is not empty -%}
                                    {%- set description = item.content|striptags|convert_encoding('UTF-8', 'HTML-ENTITIES') -%}
                                {% endif -%}

                                {% if description is not empty -%}
                                    <div class="description">
                                        <p class="paragraph">{{- description|length > 260 ? description|slice(0,259) ~ '...' : description -}}</p>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-wrapper-right">
                    <div class="cards-list">
                        {% else %}
                            <div class="card card-horizontal">
                                <a href="{{ itemData.detailLink }}" class="picture">
                                    <div class="badge">
                                        {{ date(item.publicationDate)|localized_date('MMMM dd, yyyy') }}
                                    </div>
                                    {{ tagPicture(itemData.imagePath, item.title) }}
                                </a>
                                <div class="content">
                                    <a href="{{ itemData.detailLink }}" class="title heading h-4">{{ item.title }}</a>
                                    {% if item.categories -%}
                                        {{UtilityCards.categories(item.categories, content.module)}}
                                    {% endif %}

                                    {% if item.content is not empty -%}
                                        {%- set description = item.content|striptags|convert_encoding('UTF-8', 'HTML-ENTITIES') -%}
                                    {% endif -%}

                                    {% if description is not empty -%}
                                        <div class="description">
                                            <p class="paragraph">{{- description|length > 90 ? description|slice(0,89) ~ '...' : description -}}</p>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
