{% import "::blocks/utility/cards.html.twig" as UtilityCards -%}

<div class="cards-default" card-type="{{ cardType }}" card-module="{{ module }}" data-type="articles" scrollable="false" mobile-columns="false" data-bg="{{ content.backgroundColor }}" has-gap>
    <div class="container">
        <div class="cards-header">
            <h2 class="heading h-4">{{ content.widgetTitle|trans({}, 'widgets') }}</h2>
            {% if widgetLink is not empty %}
                <a href="{{ widgetLink }}" class="link" data-trans="{{ 'more posts'|trans({},'widgets') }}">
                    {{ content.widgetLink.label|trans({}, 'widgets') }}
                </a>
            {% endif %}
        </div>
        <div class="card-wrapper centralized-highglighted-card">
            <div class="card-wrapper">
                <div class="cards-list">
                    {% for item in items -%}

                    {% if loop.index != 3 %}

                    {% set itemData = getCardData(item, 'blog') %}

                    <div class="card-centralized" id="centralized-blog-{{ itemData.itemId }}">

                        {{ tagPicture(itemData.imagePath, item.title, {}, 'background', 'centralized-blog-' ~ itemData.itemId) }}

                        <div class="content">
                            <a href="{{ itemData.detailLink }}" class="title heading h-4">{{ item.title }}</a>
                            {% if item.categories -%}
                                {{UtilityCards.categories(item.categories, content.module, 'centralized-dropdown-toggle')}}
                            {% endif %}
                        </div>
                        <div class="badge">
                            {{ date(item.publicationDate)|localized_date('MMMM dd, yyyy') }}
                        </div>
                    </div>
                    {% else %}

                    {% set itemData = getCardData(item, 'blog') %}

                </div>
            </div>
            <div class="card-wrapper">
                <div class="cards-list">
                    <div class="card-centralized" id="centralized-blog-{{ itemData.itemId }}">

                        {{ tagPicture(itemData.imagePath, item.title, {'tablet': 'medium'}, 'background', 'centralized-blog-' ~ itemData.itemId) }}

                        <div class="content">
                            <a href="{{ itemData.detailLink }}" class="title heading h-4">{{ item.title }}</a>
                            {% if item.categories -%}
                                {{UtilityCards.categories(item.categories, content.module, 'centralized-dropdown-toggle')}}
                            {% endif %}

                            {% if item.content is not empty -%}
                                {%- set description = item.content|striptags|convert_encoding('UTF-8', 'HTML-ENTITIES') -%}
                            {% endif -%}

                            {% if description is not empty -%}
                                <div class="description">
                                    <p class="paragraph">{{- description|length > 320 ? description|slice(0,319) ~ '...' : description -}}</p>
                                </div>
                            {% endif %}
                        </div>
                        <div class="badge">
                            {{ date(item.publicationDate)|localized_date('MMMM dd, yyyy') }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-wrapper">
                <div class="cards-list">
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
