{% for item in items -%}
    {% import "::blocks/utility/cards.html.twig" as UtilityCards -%}

    {% set title = item.title -%}
    {% set link = path('blog_detail', {friendlyUrl: item.friendlyUrl, _format: 'html'}) -%}

    {% if loop.first %}
        <div class="cards-default full-width" card-type="{{ cardType }}" card-module="{{ module }}" data-type="articles">
            <div class="cards-list">
                <div class="card" data-columns="1">
                    <a href="{{ link }}" class="picture">
                        <div class="badge">{{ date(item.publicationDate)|localized_date('MMMM dd, yyyy') }}</div>
                        {% if item.thumbnail is defined and item.thumbnail is not empty -%}
                            {{ tagPicture(asset(item.thumbnail, 'domain_images'), title, {'desktop': 'large', 'laptop': 'medium', 'tablet': 'medium'}) }}
                        {% else -%}
                            {{ utility_getNoImage(title) }}
                        {% endif -%}
                    </a>
                    <div class="content">
                        {% if item.categories -%}
                            {{UtilityCards.categories(item.categories, content.module)}}
                        {% endif %}

                        <a href="{{ link }}" class="title heading h-4">{{ title }}</a>

                        {% if item.content is not empty -%}
                            <div class="description">
                                <p class="paragraph">{{ (item.content[:250]|striptags|raw) }}...</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if items|length > 1 %}
        {% if loop.first %}
            <div class="cards-default" data-type="articles">
            <div class="cards-list">
        {% endif %}

    {% if not loop.first %}
        <div class="card" data-columns="2">
            <a href="{{ link }}" class="picture">
                <div class="badge">{{ date(item.publicationDate)|localized_date('MMMM dd, yyyy') }}</div>
                {% if item.thumbnail is defined and item.thumbnail is not empty -%}
                    {% set image = {
                        'desktop': asset(item.thumbnail, 'domain_images') | imagine_filter('small'),
                        'laptop': asset(item.thumbnail, 'domain_images') | imagine_filter('small'),
                        'tablet': asset(item.thumbnail, 'domain_images') | imagine_filter('small'),
                        'mobile': asset(item.thumbnail, 'domain_images') | imagine_filter('small'),
                        'fallback': asset(item.thumbnail, 'domain_images') | imagine_filter('small')
                    } -%}
                    {{ tagPicture(asset(item.thumbnail, 'domain_images'), title) }}
                {% else -%}
                    {{ utility_getNoImage(title) }}
                {% endif -%}
            </a>
            <div class="content">
                <a href="{{ link }}" class="title heading h-4">{{ title }}</a>
                {% if item.categories -%}
                    {{UtilityCards.categories(item.categories, content.module)}}
                {% endif %}

                {% if item.content is not empty -%}
                    <div class="description">
                        <p class="paragraph">{{ (item.content[:200]|striptags|raw) }}...</p>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}

        {% if loop.last %}
            </div>
            </div>
        {% endif %}
    {% endif %}
{% endfor %}
