{% import "::blocks/utility/cards.html.twig" as UtilityCards -%}

<div class="cards-default" card-type="{{ cardType }}" card-module="{{ module }}" data-type="business" scrollable="{{ itemsPerRow == 3 ? "true" : "false" }}" mobile-columns="false" data-bg="{{ content.backgroundColor }}" has-gap>
    <div class="container">
        <div class="cards-header">
            <h2 class="heading h-4">{{ content.widgetTitle|trans({}, 'widgets') }}</h2>
            {% if widgetLink is not empty %}
                <a href="{{ widgetLink }}" class="link" data-trans="{{ 'more classifieds'|trans({},'widgets') }}">
                    {{ content.widgetLink.label|trans({}, 'widgets') }}
                </a>
            {% endif %}
        </div>
        <div class="cards-wrapper" has-ads="{{ banner is not empty ? 'true' : 'false' }}" banner-type="{{content.banner}}">
            <div class="cards-list">
                {% for item in items -%}
                    {% set itemData = getCardData(item, 'classified') %}

                    {% if item.classifiedPrice -%}
                        {% set price = item.classifiedPrice %}
                    {% else %}
                        {% set price = item.price %}
                    {% endif %}

                    <div class="card card-horizontal" data-columns="{{ itemsPerRow }}">
                        <a href="{{ itemData.detailLink }}" class="picture">
                            {{ tagPicture(itemData.imagePath, item.title) }}
                        </a>
                        <div class="content">
                            <a href="{{ itemData.detailLink }}" class="title heading h-4">{{ item.title }}</a>
                            {% if item.categories -%}
                                {{UtilityCards.categories(item.categories, content.module)}}
                            {% endif %}

                            {# description -#}
                            {% set description = item.description -%}

                            {% if description is not empty -%}
                                <div class="description">
                                    <p class="paragraph">{{ description|length > 120 ? description|slice(0,119) ~ '...' : description }}</p>
                                </div>
                            {% endif %}

                            {% if price != 0 -%}
                                <div class="heading h-3 price">{{ price|localized_currency }}</div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% if banner is not empty %}
                <div class="cards-ads">
                    {{banner | raw}}
                </div>
            {% endif %}
        </div>
    </div>
</div>
