{% import "::blocks/utility/summary.html.twig" as Utility -%}

{# item \Elastica\Result                                                           #}
{# levelFeatures \ArcaSolutions\ListingBundle\Entity\Internal\ListingLevelFeatures #}
{# itemLevelInfo \ArcaSolutions\ListingBundle\Entity\Internal\ListingLevelFeatures #}

{# ModStores Hooks #}
{% if HookExist("listingmapsummary_before_extract_data") -%}
    {% set extensionReturn = HookFire("listingmapsummary_before_extract_data", {"item": item}, true) %}
    {% if extensionReturn %}
        {% set item = extensionReturn %}
    {% endif %}
{% endif -%}

{% set data = extractDataFromResult(item) -%}

{# ModStores Hooks #}
{% if HookExist("listingmapsummary_after_extract_data") -%}
    {% set extensionReturn = HookFire("listingmapsummary_after_extract_data", {"data": data}, true) %}
    {% if extensionReturn %}
        {% set data = extensionReturn %}
    {% endif %}
{% endif -%}

{% set itemLevelInfo  = levelFeatures['listing'][data.level] -%}

{% set detailURL      = url('listing_detail', {'friendlyUrl': data.friendlyUrl, "_format" : "html"}) -%}

{% set itemLocations  = ( data.locationId is not empty ? data.locationId|split(" ")|sort|reverse : null ) -%}
<div class="summary-map-info">
    <a href="{{ detailURL }}" class="heading h-4 map-info-title">{{ data.title }}</a>

    {% if data.distance and data.distance < 40000 %}
        <div class="map-info-distance">
            {{ parseDistanceUnit(data.distance, isDistanceSorterEnabled, summaryTitle)|raw }}
        </div>
    {% endif %}

    {% if itemLevelInfo.hasReview and getSetting("review_listing_enabled") -%}
        <div class="map-info-rating">
            <span class="rate rate-{{ data.averageReview }}"></span>
        </div>
    {% endif %}

    {% if hoursWork is not empty %}
        {% set statusTime = statusTimeText(hoursWork) %}

        <div class="map-info-open-time is-open" data-status-time="{{ statusTime['class'] }}">
            {{ statusTime['text']|raw }}
        </div>
    {% endif %}
</div>
